%p.in-gold-500.font-18.mb-25
  = t('.password')
= simple_form_for(current_user, url: registration_path(:user), method: :put, html: { id: 'edit-password' }) do |form|
  = form.input :current_password
  = form.input :password
  = form.input :password_confirmation
  .general-text-align
    = form.button :submit, t('.save')