%main.container.general-main-wrap
  .text-center
    %h3.general-login-title
      = t('devise.registrations.new.header')
    %a.general-login-icon{href: "#"}
      %i.fab.fa-facebook-square
    %p.general-login-text
      = t('devise.or')
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'general-form' }) do |f|
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    .text-center
      = f.button :submit, t('devise.buttons.sign_up')
  = render "devise/shared/links"