.col-md-5.col-md-offset-1.mb-60
  .text-center
    %h3.general-subtitle
      = t('.new_customer')
    = link_to user_facebook_omniauth_authorize_path, method: :post, class: 'general-login-icon facebook' do
      .fab.fa-facebook-square
    %p.general-login-text
      = t('.or')
  = simple_form_for(:user, url: registration_path(:user), method: :post, html: { class: 'general-form' }) do |f|
    .mb-40
      %p.mb-5 
        = t('.quick_register')
      %p.general-info-text.font-12.mb-20 
        = t('.quick_register_info')
      = f.label :email, t('.email')
      = f.input :email, required: true, autofocus: true, label: false, placeholder: t('.email'), input_html: { autocomplete: :on }
      = f.hidden_field :quick_register, value: true
      = f.hidden_field :order_id, value: @order.id
    = f.button :submit, t('.coninue_checkout')