.hidden-xs.mb-res-50
  %table.table.table-hover
    %thead
      %tr
        %th.col-method
          %span.in-grey-600.ml-40 
            = t('.method')
        %th
          %span.in-grey-600
            = t('.days')
        %th
          %span.in-grey-600
            = t('.price')
    %tbody
      -Delivery.all.each do |delivery|
        %tr
          %td
            .form-group.radio.mt-0.mb-0
              %label.radio-label
                = form.radio_button :delivery_id, delivery.id, name: :delivery_id, class: 'radio-input', hidden: true
                %span.radio-icon
                %span.radio-text
                  = delivery.method_name
          %td
            %span
              = I18n.t('.delivery_days', min_days: delivery.min_days, max_days: delivery.max_days)
          %td
            %span.font-16.in-gold-500
              = I18n.t('.price_in_euro', price: delivery.price)