%main.container.general-main-wrap
  .text-center
    %h3.general-login-title
      = t('devise.passwords.new.header')
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'general-form' }) do |f|
    = f.input :email
    .text-center
      = f.button :submit, t('devise.buttons.send_instructions')
  %p.text-center
    = link_to  t('devise.buttons.cancel'), :back, class: 'in-gold-500'
  = render "devise/shared/links"