.col-sm-8
  .res-mr-200.text-center.general-text-right
    %p.in-gold-500.font-18 
      = t('.order_summery')
    %table.general-summary-table.general-summary-table-right.general-text-right
      %tr
        %td
          %p.font-16
            = t('.subtotal')
        %td
          %p.font-16 
            = I18n.t('.price_in_euro', price: @order.total_price )
      %tr
        %td
          %p.font-16 
            = t('.coupon')
        %td
          %p.font-16
            = I18n.t('.price_in_euro', price: @order.coupon_discount )
      %tr
        %td
          %strong.font-18 
            = t('.order_total')
        %td
          %strong.font-18
            = I18n.t('.price_in_euro', price: @order.total_with_discount )
    %button.btn.btn-default.mb-20.visible-xs-inline-block 
      = t('.checkout')