%main.container.general-main-wrap
  %h1.general-title-margin
    = t('.cart')
  = render 'carts/partials/mobile/ordered_books' 
  = render 'carts/partials/ordered_books' 
  .general-order-wrap
    .row
      = render 'carts/partials/coupon_form' 
      = render 'carts/partials/order_summary' 
    - if @order.order_items.count > 0
      .text-center
        = link_to t('.checkout'), checkouts_path( step: :address ), class: 'btn btn-default mb-20 visible-xs'
  - if @order.order_items.count > 0
    .text-center
      = link_to t('.checkout'), checkouts_path( step: :address ), class: 'btn btn-default mb-20 hidden-xs'