%p.in-gold-500.font-18.mb-25
  = t('.password')
%form.general-form-md.divider-lg-bottom.pb-25
  .form-group.mb-30
    %label.control-label.input-label{for: "oldPassword"} 
      = t('.old_password')
    %input#oldPassword.form-control{name:"password", type: "password", placeholder: "Old Password"}
  .form-group.mb-30
    %label.control-label.input-label{for: "password"} 
      = t('.new_password')
    %input#password.form-control{name:"password", type: "password", placeholder: "New Password"}
  .form-group.mb-40
    %label.control-label.input-label{for: "confirmPassword"}
      = t('.confirm_password')
    %input#confirmPassword.form-control{name:"password", type: "password", placeholder: "Confirm Password"}
  .general-text-align
    %button.btn.disabled.mb-10 
      = t('.save')