%p
  = t 'devise.mailers.greeting', email: @resource.email
%p
  = t('devise.mailers.reset_password.through_link')
%p
  = link_to t('devise.links.change_password'), edit_password_url(@resource, reset_password_token: @token)
%p
  = t('devise.mailers.reset_password.ignore_email')
%p
  = t('devise.mailers.reset_password.notice')